[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
doc = "sh -c 'cd doc; make clean html; xdg-open build/html/index.html'"

[packages]
#click = "*"
#wireup = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.13"

